@page "{searchString?}"
@model WebRazor.Pages.Product.IndexModel
@{
}
<div id="content">
    <div id="content-left">
        <ul>
            <a href="dashboard.html">
            <li>Dashboard</li></a>
            <a href="order.html">
            <li>Orders</li></a>
            <a href="product.html">
            <li>Products</li></a>
            <a href="#">
            <li>Customers</li></a>
        </ul>
    </div>
    <div id="content-right">
        <div class="path-admin">PRODUCTS LIST</b></div>
         <div> <span class="msg-success">@TempData["success"]@ViewData["success"]</span><br /></div>
        <div> <span class="msg-error">@TempData["fail"]@ViewData["fail"]</span><br /></div>
        <div class="content-main">
            <div id="content-main-dashboard">
                <div id="product-title-header">
                    <div id="product-title-1" style="width: 25%;">
                        <b>Filter by Catetory:</b>
                        <form>
                            <select asp-for="Category" asp-items="Model.Categories">
                                <option value="">All</option>
                            </select>
                            <a href="~/Admin/Product/Index?Categ    ory=@Model.Category"><button>Filter</button></a>
                        </form>
                    </div>
                    <div id="product-title-2" style="width: 55%;">
                        <form>
                            <input asp-for="SearchString" type="text" name="SearchString" placeholder="Enter product name to search" />
                            <a href="~/Admin/Product/Index?SearchString=@Model.SearchString"><button>Submit</button></a>
                        </form>
                    </div>
                    <div id="product-title-3" style="width: 20%;">
                        <a href="~/Admin/Product/Create">Create a new Product</a>
                        <form action="">
                            <label for="upload-file">Import .xls or .xlsx file</label>
                            <input type="file" name="file" id="upload-file" />
                        </form>
                    </div>
                </div>
                <div id="order-table-admin">
                    <table id="orders">
                        <thead>
                            <tr>
                                <th>ProductID</th>
                                <th>ProductName</th>
                                <th>UnitPrice</th>
                                <th>Unit</th>
                                <th>UnitsInStock</th>
                                <th>Category</th>
                                <th>Discontinued</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>@item.ProductId</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.QuantityPerUnit</td>
                                    <td>@item.UnitsInStock</td>
                                    <td>@item.Category?.CategoryName</td>
                                    <td>@item.Discontinued</td>
                                    <td>
                                        <a href="~/Admin/Product/Update?id=@item.ProductId">Edit</a>
                                        <a href="~/Admin/Product/Delete?id=@item.ProductId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                         
                    </table>
                </div>
                <div id="paging">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
